/* ! Fonts */
@import url("https://fonts.googleapis.com/css2?family=Barrio&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

/* ? Base CSS */

:root {
  --background: #191919;
  --color: #ffd700;
  --highlights: cyan;
  --glass: hsl(0 0% 100% / 0.1);
  --glass-bg: #1919191a;

  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  /*===== Fuente y tipografia =====*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --smaller-font-size: 0.75rem;
  /*===== Margenes =====*/
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*===== z index =====*/
  --z-back: -10;
  --z-fixed: 100;
}

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-color: var(--background);
  overflow-x: clip;
  max-width: calc(100vw - 50px);
  margin: auto;
  padding: 20px;
}

/* ! Loading Animation */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(2em);
  align-items: center;
  animation: loadingAnim 3s linear infinite;
}

.loading-container {
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  animation: loading 0.5s linear infinite;
  display: inline-block;
}

.loading {
  width: 500px;
  height: 500px;
}

.preloader {
  font: 1.2em Dosis, sans-serif;
  color: var(--highlights);
  display: flex;
  animation: tiltSpin 8s linear infinite;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
}

.preloader,
.preloader__ring {
  transform-style: preserve-3d;
}

.preloader__ring {
  animation-name: spin;
  animation-duration: 4s;
  animation-timing-function: inherit;
  animation-iteration-count: inherit;
  font-size: 2em;
  position: relative;
  height: 3rem;
  width: 1.5rem;
}

.preloader__ring:nth-child(even) {
  animation-direction: reverse;
}

.preloader__sector {
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  text-transform: uppercase;
  transform: translateZ(7rem);
}

.preloader__sector,
.preloader__sector:empty:before {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.preloader__sector:empty:before {
  background: linear-gradient(
    transparent 45%,
    currentColor 45% 55%,
    transparent 55%
  );
  content: "";
}

.preloader__sector:nth-child(2) {
  transform: rotateY(12deg) translateZ(7rem);
}

.preloader__sector:nth-child(3) {
  transform: rotateY(24deg) translateZ(7rem);
}

.preloader__sector:nth-child(4) {
  transform: rotateY(36deg) translateZ(7rem);
}

.preloader__sector:nth-child(5) {
  transform: rotateY(48deg) translateZ(7rem);
}

.preloader__sector:nth-child(6) {
  transform: rotateY(60deg) translateZ(7rem);
}

.preloader__sector:nth-child(7) {
  transform: rotateY(72deg) translateZ(7rem);
}

.preloader__sector:nth-child(8) {
  transform: rotateY(84deg) translateZ(7rem);
}

.preloader__sector:nth-child(9) {
  transform: rotateY(96deg) translateZ(7rem);
}

.preloader__sector:nth-child(10) {
  transform: rotateY(108deg) translateZ(7rem);
}

.preloader__sector:nth-child(11) {
  transform: rotateY(120deg) translateZ(7rem);
}

.preloader__sector:nth-child(12) {
  transform: rotateY(132deg) translateZ(7rem);
}

.preloader__sector:nth-child(13) {
  transform: rotateY(144deg) translateZ(7rem);
}

.preloader__sector:nth-child(14) {
  transform: rotateY(156deg) translateZ(7rem);
}

.preloader__sector:nth-child(15) {
  transform: rotateY(168deg) translateZ(7rem);
}

.preloader__sector:nth-child(16) {
  transform: rotateY(180deg) translateZ(7rem);
}

.preloader__sector:nth-child(17) {
  transform: rotateY(192deg) translateZ(7rem);
}

.preloader__sector:nth-child(18) {
  transform: rotateY(204deg) translateZ(7rem);
}

.preloader__sector:nth-child(19) {
  transform: rotateY(216deg) translateZ(7rem);
}

.preloader__sector:nth-child(20) {
  transform: rotateY(228deg) translateZ(7rem);
}

.preloader__sector:nth-child(21) {
  transform: rotateY(240deg) translateZ(7rem);
}

.preloader__sector:nth-child(22) {
  transform: rotateY(252deg) translateZ(7rem);
}

.preloader__sector:nth-child(23) {
  transform: rotateY(264deg) translateZ(7rem);
}

.preloader__sector:nth-child(24) {
  transform: rotateY(276deg) translateZ(7rem);
}

.preloader__sector:nth-child(25) {
  transform: rotateY(288deg) translateZ(7rem);
}

.preloader__sector:nth-child(26) {
  transform: rotateY(300deg) translateZ(7rem);
}

.preloader__sector:nth-child(27) {
  transform: rotateY(312deg) translateZ(7rem);
}

.preloader__sector:nth-child(28) {
  transform: rotateY(324deg) translateZ(7rem);
}

.preloader__sector:nth-child(29) {
  transform: rotateY(336deg) translateZ(7rem);
}

.preloader__sector:nth-child(30) {
  transform: rotateY(348deg) translateZ(7rem);
}

@keyframes loadingAnim {
  0% {
    background: hsla(0, 0%, 0%, 1);
  }

  50% {
    background: hsla(0, 0%, 0%, 0.5);
  }

  100% {
    background: hsla(0, 0%, 0%, 0.1);
  }
}

/* ? Animations */
@keyframes tiltSpin {
  from {
    transform: rotateY(0) rotateX(30deg);
  }

  to {
    transform: rotateY(1turn) rotateX(30deg);
  }
}

@keyframes spin {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(1turn);
  }
}

/* ! Background Animation */
canvas {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 0;
  background-color: black;
}

/* ? Scroll Bar */
::-webkit-scrollbar {
  width: 3px !important;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.005) !important;
}

::-webkit-scrollbar-thumb {
  background: var(--color) !important;
  border-radius: 2px !important;
}

::-moz-selection {
  color: var(--background);
  background: var(--color);
}

::selection {
  color: var(--background);
  background: var(--color);
}

/* ! Main Content */

.main-content {
  position: relative;
  z-index: 10;
}

/* ! Home Section */
.home-section,
.about-section,
.skills {
  margin-top: 20px;
  box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.4);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.001);
  backdrop-filter: blur(6px);
  overflow: hidden;
  height: calc(100vh - 50px);
  padding: 70px 10%;
  position: relative;
  justify-content: space-between;
  display: flex;
  font-family: "Playfair Display", serif;
  color: white;
  align-items: center;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  margin-bottom: 5px;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
}

.home-content h3 span,
.about-content .title span,
.skills .title span {
  background-image: linear-gradient(
    to right,
    #ff004c 1em,
    #fe9000 3em,
    #fff020 5em,
    #3edf4b 7em,
    #3363ff 10em,
    #ff004c 13em
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 35s linear infinite;
}

.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 10px;
}

.home-content p {
  font-size: 16px;
}

.home-img {
  max-width: 450px;
}

.img-box {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  padding: 8px;
  position: relative;
  box-shadow: 0 1.25em 2.18em rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
}

.img-box:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(
    to right,
    #fd004c 2.62em,
    #fe9000 5.25em,
    #fff020 7.87em,
    #3edf4b 10.5em,
    #3363ff 15.75em,
    #fd004c 18.75em
  );
  background-size: 100em;
}

.img-box:hover:before {
  background-position: -106.25em 0;
  animation: moveBorder 10s linear infinite;
}

.img-box img {
  max-width: 100%;
  vertical-align: middle;
  border-radius: 50%;
  transform: scale(1);
}

@keyframes moveBorder {
  0% {
    background-position: -100em 0;
  }

  100% {
    background-position: 100em 0;
  }
}

/* ? About Section */
.about-section {
  min-height: calc(100vh - 115px);
  height: auto;
  display: block;
}

.about-details {
  display: flex;
  justify-content: space-between;
}

.about-content .title,
.skills .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.about-content .title span,
.skills .title span {
  color: var(--color);
  font-size: 50px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

.about-content .title span::before,
.about-content .title span::after,
.skills .title span::before,
.skills .title span::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--highlights);
  left: 0;
  bottom: 0;
}

.about-content .title span::after,
.skills .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.about-details .left {
  width: 35%;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.about-details .left img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 12px;
}

.button {
  text-align: center;
}

button {
  margin-top: 20px;
  height: 5em;
  width: 14em;
  position: relative;
  box-shadow: 0 1.25em 2.18em rgba(0, 0, 0, 0.3);
  overflow: hidden;
  cursor: pointer;
  border-radius: 0.31em;
}

button:before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: repeating-linear-gradient(
    to right,
    #fd004c 2.62em,
    #fe9000 5.25em,
    #fff020 7.87em,
    #3edf4b 10.5em,
    #3363ff 15.75em,
    #fd004c 18.75em
  );
  background-size: 125em;
}

button:after {
  content: "Download CV";
  position: absolute;
  background-color: #1c1b29;
  height: 90%;
  width: 95%;
  justify-content: center;
  top: 5%;
  left: 2.5%;
  border-radius: 0.2em;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  place-items: center;
}

button:hover:before {
  background-position: -106.25em 0;
  transition: 10s linear;
}

.about-details .right {
  width: 65%;
}

.topic {
  color: var(--highlights);
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-details .right p {
  text-align: justify;
  color: white;
}

/* ! Skills Section */
.skills {
  min-height: 100vh;
  height: auto;
  display: block;
  flex-direction: column;
}

.skills-content {
  display: grid;
  margin: 0 2rem;
  row-gap: 2rem;
  text-align: center;
}

.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  background: var(--background);
}

.skills-icon {
  font-size: 2rem;
  margin-right: 2rem;
  color: var(--highlights);
}

.skills-name {
  display: flex;
  align-items: center;
}

.skills-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--highlights);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: 100;
}

.skills-subtitle {
  margin-bottom: 2rem;
}

.skills-text {
  margin-bottom: 4rem;
}

.skills-img {
  border-radius: 0.5rem;
  max-width: 100%;
  height: auto;
  display: block;
}

.skills-percent {
  color: var(--highlights);
}

.skills__html {
  width: 90%;
}

.skills__css {
  width: 75%;
}

.skills__js {
  width: 80%;
}

.skills__php {
  width: 95%;
}

/* * Responsive */

@media screen and (max-width: 1255px) {
  .img-box {
    height: 300px;
    width: 300px;
  }

  .about-details .left {
    width: 35%;
    margin-bottom: 30px;
  }

  .left img {
    height: 250px !important;
    width: 250px !important;
  }

  .about-details .right {
    font-size: 15px;
    width: 65%;
  }
}

@media screen and (max-width: 1100px) {
  .img-box {
    height: 270px;
    width: 270px;
  }

  .left img {
    height: 200px !important;
    width: 200px !important;
  }

  .about-details .right {
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .img-box {
    height: 250px;
    width: 250px;
  }

  .left img {
    height: 180px !important;
    width: 180px !important;
  }
}

@media screen and (max-width: 940px) {
  body {
    padding: 0px;
    max-width: 100%;
    margin: 0px;
  }

  .home-section {
    text-align: center;
    flex-direction: column-reverse;
    height: auto;
  }

  .home-img {
    margin-bottom: 30px;
  }

  .about-details {
    flex-direction: column-reverse;
  }

  .about-details .left {
    width: 100%;
    margin-bottom: 30px;
  }

  .left img {
    display: none;
  }

  .about-details .right {
    font-size: 15px;
    width: 100%;
  }

  .topic {
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  .skills-content {
    grid-template-columns: 0.7fr;
    justify-content: center;
    column-gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .skills-content {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
}

@media screen and (min-width: 992px) {
  .skills-content {
    margin-left: auto;
    margin-right: auto;
  }
}
